*{
    box-sizing: border-box;
}

:root{
    --cell-size: 100px;
    --grid-margin: 20px;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    margin-top: var(--grid-margin);
    margin-bottom: var(--grid-margin);
}

.grid-cell{
    border: solid black;
    height: var(--cell-size);
    width: var(--cell-size);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    cursor: pointer;
}

.body-text {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#reset-btn {
    margin-top: var(--grid-margin);    
    width: 160px;
    height: 50px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 14px;
    cursor: pointer;
}